# .env.example
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/renteasy?schema=public"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
EMAIL_FROM="RentEasy <no-reply@renteasy.com.br>"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
CRON_SECRET=""
DPO_EMAIL="privacidade@renteasy.com.br"